.tm {
	width:1190px;
	height:370px;
	margin:0 auto;
	display:flex;
	padding:20px 0;
}
.tmm {
	width:305px;
	height:375px;
	margin-right:10px;
	overflow:hidden;
}
.tmm img {
	width:100%;
	height:100%;
}
.tm .tmm:hover img {
	transform:scale(1.1);
	transition:.6s all;
}
.tm_r {
	width:915px;
	height:375px;
}
.tm_r a {
	display:block;
	width:285px;
	height:180px;
	float:left;
	overflow:hidden;
	margin:5px;
}
.tm_r a:hover img {
	transform:scale(1.1);
	transition:.6s all;
}
.footer .helpnav {
	margin-top:40px;
}
.featured_tit {
	margin:8px 4px;
	height:30px;
	line-height:30px;
	font-size:24px;
	color:#333;
	background:url(//img.iblimg.com/respc-1/resources/v4.2/css/i/guess_bg.jpg) repeat-x 0 center;
	font-family:'\5FAE\8F6F\96C5\9ED1';
	font-weight:400;
	padding:15px 0;
}
.guess_love {
	width:255px;
	padding-left:65px;
	height:30px;
	margin:0 auto;
	background:#fff url(//img.iblimg.com/respc-1/resources/v4.2/css/i/guess_love.jpg) no-repeat 30px center;
}
.featured_tit span {
	margin-left:5px;
	font-size:16px;
	color:#999;
}
.scroll-banner .scroll-index {
	background:white;
	position:relative;
	-webkit-filter:inherit;
	filter:inherit;
	width:1309px;
	height:460px;
	margin:0 auto;
}
.banner-recommend {
	width:215px;
	height:460px;
	margin-top:218px;
	margin-left:430px;
	position:absolute;
	left:50%;
	top:5px;
	overflow:hidden;
	z-index:12;
}
.like_class {
	height:340px;
	width:1203px;
	padding-bottom:10px;
	margin:0 auto;
	display:flex;
}
.like_class li {
	float:left;
	height:340px;
	margin:0 5px;
	position:relative;
	width:230px;
	background:#fff;
}
.pro-show {
	height:338px;
	width:228px;
	border:1px solid #e4e4e4;
	background:#fff;
	transition:all 1s;
}
.pro-img {
	height:220px;
	width:220px;
	padding:4px;
	background:url(//img.iblimg.com/respc-1/resources/v4.2/css/i/loading77x77.gif) no-repeat center center;
}
.pro-name {
	padding:0 11px;
	margin-top:5px;
	color:#333;
	line-height:21px;
	height:42px;
	overflow:hidden;
}
.pro-money {
	padding:0 11px;
	height:26px;
	margin-top:3px;
	position:relative;
}
.pathclip {
	clip:rect(0,auto,1050px,0);
	position:absolute;
	width:100%;
	left:0;
	top:185px;
	height:26px;
}
.path-pa {
	position:absolute;
	left:95px;
	white-space:nowrap;
	height:26px;
	font-size:0;
}
.path-font {
	float:left;
	color:#333;
	margin:0;
	padding:0;
	padding-right:0px;
	padding-left:0px;
	background:0 0;
	padding-right:10px;
	padding-left:10px;
}
.path-current a:link,.path-current a:visited,.path-font a:link,.path-font a:visited {
	color:#333;
	text-decoration:none;
	display:block;
	max-width:72px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.path-icon {
	float:left;
	padding-left:15px;
	background:url(//img.iblimg.com/respc-1/resources/v4.0/css/i/left-icon.png) no-repeat left;
	padding-right:10px;
	font-size:12px !important;
}
.path-icon {
	float:left;
	padding-left:15px;
	background:url(//img.iblimg.com/respc-1/resources/v4.0/css/i/left-icon.png) no-repeat left;
	padding-right:10px;
	font-size:12px !important;
}
.path-icon {
	float:left;
	padding-left:15px;
	background:url(//img.iblimg.com/respc-1/resources/v4.0/css/i/left-icon.png) no-repeat left;
	padding-right:10px;
	font-size:12px !important;
}
.path-input {
	height:22px;
	padding:1px;
	padding-left:1px;
	border:1px solid #ddd;
	padding-left:10px;
	width:150px;
	margin-top:-3px;
}
.path-input input {
	float:left;
	height:22px;
	border:0;
	width:125px;
	font-family:'Microsoft YaHei';
	vertical-align:middle;
	line-height:22px;
}
.path-input button {
	height:22px;
	width:22px;
	border:0;
	background:url(//img.iblimg.com/respc-1/resources/v4.0/css/i/select-button.png) no-repeat center center;
	cursor:pointer;
	float:right;
}
body {
	background-color:#FCFCFC;
}
dl,dd {
	margin:0;
}
#box {
	width:1260px;
	background:rgba(255,255,255,0.8);
	box-shadow:0 0 10px rgba(73,66,66,.1);
	margin:0 auto;
	border:1px solid #E5E5E5;
	margin-left:100px;
}
#box dl {
	height:50px;
	line-height:50px;
	border-bottom:1px dashed #dadada;
	margin:0 20px;
}
#box dt {
	float:left;
	color:#8a8a8a;
}
#box dd {
	float:left;
	color:#252525;
	margin:0 10px;
	font-size:14px;
	cursor:pointer;
}
#box dd.active {
	color:#c4284d;
	font-weight:bold;
}
#box dl.select {
	background:#efefef;
	margin:0;
	padding:0 20px;
}
#box dl.select dd {
	border:1px solid #c4284d;
	height:25px;
	line-height:25px;
	margin-top:13px;
	padding:0 2px 0 10px;
	border-radius:3px;
	background-color:#fff;
}
#box dl.select dd span {
	width:20px;
	height:20px;
	display:inline-block;
	text-align:center;
	line-height:20px;
	background:#c4284d;
	color:#fff;
	margin-left:10px;
	cursor:pointer;
	border-radius:5px;
}
.sequence {
	margin-top:20px;
	height:36px;
	float:left;
	display:inline;
	margin-left:100px;
}
.w1200 .wrap,.w960 .wrap {
	position:relative;
}
.sequence-left {
	height:36px;
	float:left;
	overflow:hidden;
	font-family:'Microsoft YaHei';
}
.sequence .flienav-list,.sequence .search-line {
	display:none;
}
.listclass {
	margin-left:1px;
}
.listclass li.on {
	z-index:3;
}
.listclass li.on a:link,.listclass li.on a:visited {
	background:#c01133;
	border:1px solid #c01133;
	color:#FFF;
}
.listclass li {
	float:left;
	margin-left:-1px;
	position:relative;
}
.listclass li a:link,.listclass li a:visited {
	border:1px solid #ccc;
	display:block;
	padding:0 15px;
	height:34px;
	line-height:34px;
	background:#f8f8f8;
}
.left-money {
	float:left;
	margin-left:10px;
	display:inline-block;
	height:34px;
	position:relative;
	z-index:3;
	width:166px;
}
.left-money .moneyshow {
	padding:4px;
	position:absolute;
	border:1px solid #ccc;
	background:#f8f8f8;
}
.left-money input {
	height:24px;
	border:1px solid #ccc;
	width:68px;
	text-align:center;
	background:#fff;
	float:left;
	font-family:'Microsoft YaHei';
	vertical-align:middle;
	line-height:24px;
}
.left-money span {
	display:inline-block;
	padding:0 5px;
	float:left;
}
.left-money input {
	height:24px;
	border:1px solid #ccc;
	width:68px;
	text-align:center;
	background:#fff;
	float:left;
	font-family:'Microsoft YaHei';
	vertical-align:middle;
	line-height:24px;
}
.sequence-right {
	margin-left:10px;
	height:34px;
	border:1px solid #ccc;
	background:#f8f8f8;
	padding:0 4px 0 10px;
	float:right;
	width:760px;
}
.option {
	float:left;
}
.option label {
	margin-right:25px;
	line-height:34px;
	float:left;
	cursor:pointer;
}
.sequence-right-pt {
	float:right;
	color:#666;
	line-height:26px;
	padding-top:4px;
}
.fl {
	float:left;
}
.fr-show {
	float:left;
	width:68px;
	margin-left:2px;
}
.pro-class {
	width:1300px;
	margin-left:100px;
}
.pro-class li {
	margin-top:25px;
	margin-right:10px;
	float:left;
	position:relative;
	width:245px;
	height:390px;
}
.pro-show {
	width:202px;
	border:1px solid #eee;
	padding:14px 13px;
	height:auto;
	padding-bottom:0;
	float:left;
	display:inline;
}
.pro-icon {
	position:absolute;
	right:2px;
	top:2px;
	z-index:2;
}
.pro-img {
	height:200px;
	width:200px;
	position:relative;
}
.pro-img .ptuan {
	position:absolute;
	bottom:0;
	left:0;
	cursor:pointer;
	color:#fff;
	padding:3px 12px;
	background:#ff4a4a;
	background:-moz-linear-gradient(135deg,#ff4a4a 20%,#e911b9);
	background:-webkit-gradient(linear,20% 80%,0 0,from(#ff4a4a),to(#e911b9));
	background:-webkit-linear-gradient(135deg,#ff4a4a 20%,#e911b9);
	background:linear-gradient(135deg,#ff4a4a 20%,#e911b9);
	background:-o-linear-gradient(135deg,#ff4a4a 20%,#e911b9);
	border-radius:3px;
	margin-right:10px;
}
.ptuanshow {
	width:160px;
	height:160px;
	position:absolute;
	left:0;
	top:0;
	display:none;
}
.pro-money {
	white-space:nowrap;
}
.money-fl {
	float:left;
	font-family:Verdana,Geneva,sans-serif;
	line-height:26px;
	font-size:18px;
}
.money-fr {
	float:right;
}
.product-comment {
	height:42px;
	clear:both;
}
.pro-name {
	line-height:21px;
	color:#333;
	height:21px;
	word-break:break-all;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
element.style {
	color:#e6133c;
}
.pro-name a:link,.pro-name a:visited {
	color:#333;
	word-break:break-all;
}
.pro-info {
	line-height:21px;
	color:#ff875a;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.pro-top {
	height:21px;
	line-height:21px;
}
.pro-top .pro-top-left {
	float:left;
	background:url(//img.iblimg.com/respc-1/resources/v4.0/css/i/list-top-icon.png) no-repeat left;
	padding-left:20px;
	color:#999;
}
.pro-top .pro-top-left span {
	float:left;
}
.pro-top .pro-top-left .red {
	float:left;
	display:inline;
	margin:0 4px;
	color:#666;
	text-decoration:none;
	max-width:84px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.pro-top .pro-top-left span {
	float:left;
}
.pro-top .pro-top-left .red {
	float:left;
	display:inline;
	margin:0 4px;
	color:#666;
	text-decoration:none;
	max-width:84px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
div {
	display:block;
}
a:link,a:visited {
	color:#666666;
	text-decoration:none;
}
body,button,input,select,textarea,label {
	font:12px/150% arial,'Hiragino Sans GB',SimSun,tahoma,sans-serif;
	font-family:'SimSun';
	outline:0;
}
.pro-button {
	padding:4px 0 14px;
	display:block;
}
.btn-primary {
	width:185px;
	height:30px;
	font-size:16px;
	color:#e6133c;
	background:white;
	border:1px solid red;
}
.btn-primary:hover {
	background:#E6133C;
	color:white;
}
